<div class="section" id="projects">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Projects</div>

    <div class="row">
      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/p11.png"
              alt="Card image"
              style="width: 100%;"
            />
            <div class="card-body">
              <h4 class="card-title">www.vivamas.net</h4>
              <h5 class="card-text">
                <b>Technology :</b> Html, Css, Javascript, E-Commerce,
                Wordpress, Seo
              </h5>

              <a
                href="#"
                class="btn btn-primary stretched-link ml-2 mr-5"
                >Not avaliable domain down</a
              >
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/p44.png"
              alt="Card image"
              style="width: 100%;"
            />
            <div class="card-body">
              <h4 class="card-title">www.fusori.org</h4>
              <h5 class="card-text"><b>Technology :</b> Wordpress, Php</h5>

              <a
                href="#"
                class="btn btn-primary stretched-link ml-2 mr-5"
                >Not avaliable domain down</a
              >
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/p99.png"
              alt="Card image"
              style="width: 100%;"
            />
            <div class="card-body">
              <h4 class="card-title">
                SPA Game: ¿Quien quiere ser millonario?
              </h4>
              <h5 class="card-text"><b>Technology :</b> React</h5>

              <a
                href="#"
                class="btn btn-primary stretched-link ml-2 mr-5"
                >Not avaliable domain down</a
              >
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/p2.png"
              alt="Card image"
              style="width: 100%;"
            />
            <div class="card-body">
              <h4 class="card-title">To do list (Market)</h4>
              <h5 class="card-text"><b>Technology :</b> Angular</h5>

              <a
                href="#"
                class="btn btn-primary stretched-link ml-2 mr-5"
                >Not avaliable domain down</a
              >
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/simon.png"
              alt="Card image"
              style="width: 100%;"
            />
            <div class="card-body">
              <h4 class="card-title">Game: Simon Says</h4>
              <h5 class="card-text">
                <b>Technology :</b> HTML, CSS, Javascript (Asynchronism)
              </h5>

              <a
                href="#"
                class="btn btn-primary stretched-link ml-2 mr-5"
                >Not avaliable domain down</a
              >
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/p5.png"
              alt="Card image"
              style="width: 100%;"
            />
            <div class="card-body">
              <h4 class="card-title">Web portfolio</h4>
              <h5 class="card-text"><b>Technology :</b> Angular</h5>

              <a
                href="#"
                class="btn btn-primary stretched-link ml-2 mr-5"
                >Not avaliable domain down</a
              >
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/p3.png"
              alt="Card image"
              style="width: 100%;"
            />
            <div class="card-body">
              <h4 class="card-title">Health calculator</h4>
              <h5 class="card-text"><b>Technology :</b> Javascript</h5>

              <a
                href="#"
                class="btn btn-primary stretched-link ml-2 mr-5"
                >Not avaliable domain down</a
              >
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/p88.png"
              alt="Card image"
              style="width: 100%;"
            />
            <div class="card-body">
              <h4 class="card-title">Web optimization</h4>
              <h5 class="card-text">
                <b>Technology :</b> Google lighthouse and search console
              </h5>

              <a
                href="#"
                class="btn btn-primary stretched-link ml-2 mr-5"
                >Not avaliable domain down</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
