<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="green">
      <div
        class="page-header-image"
        data-parallax="true"
        style="background-image: url('assets/images/intro.jpg');"
      ></div>
      <div class="container">
        <div class="content-center">
          <div class="h1 title">Francisco Cruz Julio</div>
          <p class="category text-white">Web Developer, Web Master</p>
          <a
            class="btn btn-primary smooth-scroll mr-2"
            href="#contact"
            data-aos="zoom-in"
            data-aos-anchor="data-aos-anchor"
            >Contact me</a
          >
          <a
            class="btn btn-primary smooth-scroll mr-2"
            href="https://www.linkedin.com/in/fran-cruz-julio/"
            data-aos="zoom-in"
            data-aos-anchor="data-aos-anchor"
            >Linkedin</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
